{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                    {#   message/tagsはSettings.pyで設定している#}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            {% endif %}
            <div class="row">
                <!--ページタイトル-->
                <aside class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title text-center">{{ user.get_username }}</h3>
                        </div>
                        <div class="card-body">
                            <img class="rounded img-fluid" src="#" alt="">
                            <h1>プロフィール画像</h1>
                            {#                            <form method="post">#}
                            {#                                {% csrf_token %}#}
                            {#                                {% bootstrap_form form %}#}
                            {#                                <input type="submit" value="投稿">#}
                            {#                            </form>#}
                        </div>
                        <button id="add-user" type="submit" class="btn btn-default btn-success btn-block">
                            お気に入り登録する
                        </button>
                    </div>
                </aside>
                <div class="col-sm-8">
                    <ul class="nav nav-tabs nav-justified mb-3">
                        <li class="nav-item"><a href="#" class="nav-link active">MyPosts一覧
                            <span class="badge badge-secondary">{{ object_list | length }}</span></a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Followings</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Followers</a></li>
                    </ul>
                    <!-- テーブル表の定義 -->
                    <div class="table table-responsive">
                        <table id='post_list' width="100%"
                               class="table table-striped table-bordered table-hover">
                            　<!-- 表の列の定義-->
                            <thead>
                            <tr>
                                <th class="text-center">内容</th>
                                <th class="text-center">日時</th>
                                <th class="text-center">更新／削除</th>
                            </tr>
                            </thead>
                            　<!-- ここまでが表の列の定義-->
                            　<!-- 表のデータ部分の表示-->
                            <tbody>
                            {% for item in object_list %}
                                <tr class="odd gradeX text-center">
                                    <td class="text-center" width="100">{{ item.content }}</td>
                                    <td class="text-center" width="100">{{ item.created_at }}</td>
                                    <td class="text-center" width="100">
                                        {#  pkを指定する際は、urlタグはやや特殊な書き方となる↓以下参照#}
                                        <a class="btn btn-success" href="{% url 'microposts:update' item.pk %}"
                                           role="button">更新</a>
                                        <a class="btn btn-danger" href="{% url 'microposts:delete' item.pk %}"
                                           role="button">削除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            　<!-- ここまでが表のデータ部分の表示-->
                        </table>
                        <!-- ここまでがテーブル表の定義 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}