{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            {#  views.pyからmessagesが渡された場合にのみメッセージを表示させる。#}
            {% if messages %}
                {% for message in messages %}
                    {#   message/tagsはSettings.pyで設定している#}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            {% endif %}
            {#    投稿したユーザーしか削除できない制約を追加#}
            {% if object.owner_id == user.id %}
                <h1>投稿の更新</h1>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-default btn-primary">
                        更新する
                    </button>
                </form>
            {% else %}
                <h1>{{ user.get_username }}さんの投稿ではありません。</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}